// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");
$font-family: "Roboto", sans-serif;

// Font sizes
$fxxs: 1.2rem;
$fxs: 1.4rem;
$fs: 1.6rem;
$fm: 1.8rem;
$fl: 2.1rem;
$fxl: 2.4rem;
$fxxl: 3.1rem;

// Colors
$white: rgb(255, 255, 255);
$grey: rgb(100, 100, 100);
$greyOpacity05: rgba(48, 48, 48, 0.5);
$pink: rgb(255, 22, 84);
$purple: rgb(138, 43, 226);

$border-radius: 0.3rem;
